.meals-section {
  padding: 9.6rem 6.4rem;
  border-top: 1px solid #ddd;
  background-image: linear-gradient(#101d2ce6, #101d2ce6),
    url('../../images/meals/restaurant.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.9s;
  box-shadow: 1rem 0 3.2rem rgba(0, 0, 0, 0.8);
  transition: all 0.9s;
  text-align: center;
}

/* Meals */

.meals {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6.4rem;
}

.meal-link {
  color: var(--color-main);
  display: inline-block;
  margin-top: 4.8rem;
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  transition: all 0.4s;
}

.meal-link:hover {
  border-bottom: 1px solid transparent;
}
