.meal {
  background: #101d2c;
  border-radius: 3px;
  font-size: 1.6rem;
  overflow: hidden;
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 4.8rem;
  color: #e9ecef;
}

.meal-photo img {
  width: 100%;
  clip-path: polygon(0 0, 100% 0%, 100% 87%, 0% 98%);
}

.meal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#0e1d2ed9, #092749d9);
  z-index: 1;
  opacity: 0.7;
  clip-path: polygon(0 0, 100% 0%, 100% 87%, 0% 98%);
}

/* Meal Top */

.meal-top {
  position: relative;
}

.meal-heading {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  font-size: 1.8rem;
  text-transform: uppercase;
  transform: translate(-50%);
  background: #101d2c;
  padding: 1.2rem;
  border-radius: 4rem;
  letter-spacing: 0.5px;
  z-index: 2;
  box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.3);
}

/* Meal Middle */

.meal-middle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5rem;
  text-align: left;
  padding: 0 2.4rem;
}

.meal-tags {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 2;
}

.tag {
  display: inline-block;
  padding: 0.8rem 1rem;
  border-radius: 3px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.tag.vegetarian {
  background-color: #2b8a3e;
}

.tag.seafood {
  background-color: #1c7ed6;
}

.meal-text {
  grid-column: 1 / -1;
  line-height: 1.6;
  font-family: "Work Sans", sans-serif;
}

.meal-item {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

/* Meal Bottom */

.meal-bottom {
  text-align: left;
  background-color: #495057;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  row-gap: 1.2rem;
  padding: 2.5rem 3rem;
  text-transform: uppercase;
}

.meal-bottom .btn {
  margin: 0;
  justify-self: end;
  grid-row: 1 / 3;
  grid-column: 2 / -1;
  border-radius: 3px;
}

.meal-price,
.meal-ratings {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  font-family: "Work Sans", sans-serif;
}
