.customers-section {
  padding: 8rem 0rem;
  text-align: center;
  border-top: 1px solid #ddd;
  background-color: #101d2c80;
  box-shadow: 1rem 0 3.2rem rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(#101d2cd9, #101d2cd9),
    url("../../images/reviews/restaurant.jpg");
  background-size: cover;
  transition: all 0.9s;
}

/* Customers Review */

.reviews {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}

.slide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6.4rem;
  text-align: left;
  color: #222;
  line-height: 1.8;
  font-family: "Work Sans", sans-serif;
  position: absolute;
  transition: all 1s;
}
