#contact-section {
  background: linear-gradient(to right, #101d2c, #212529);
  padding: 8rem 6.4rem;
  border-top: 1px solid #ddd;
  box-shadow: 1rem 0 3.2rem rgba(0, 0, 0, 0.8);
  transition: all 0.9s;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

#contact-section .section-heading {
  font-size: 2.4rem;
  margin: 0;
}

#contact-section .section-heading:hover {
  letter-spacing: 2px;
}

.form {
  padding: 0 4.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  column-gap: 3.2rem;
}

.form input {
  padding: 1rem;
  border-radius: 3px;
  border: 2px solid var(--color-main);
  font-size: 1.3rem;
  font-family: 'Work Sans', sans-serif;
  background-color: #ddd;
  text-transform: uppercase;
}

.form input:focus {
  outline: none;
}

.form button {
  border-radius: 3px;
  background-color: #ffffff0d;
}

/* Media Queries */

/* Below 842px */

@media (max-width: 52.625em) {
  #contact-section {
    padding: 4.8rem;
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }
}

/* Below 700px */

@media (max-width: 43.625em) {
  .form {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }

  .form input {
    width: 90%;
    margin: 0 auto;
  }
}
