.header {
  height: 95vh;
  border-radius: 1rem;
  color: #e9ecef;
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 1rem 0 3.2rem rgba(0, 0, 0, 0.8);
}

/* Header Left */

.header-left {
  background-image: linear-gradient(#101d2cd9, #101d2cd9),
    url("../../images/header/header.jpg");
  background-size: cover;
  background-position: 50% 100%;
  padding: 8rem 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

/* Heading */

.logo {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-main);
}

.heading {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}

.primary-heading {
  color: #f1f3f5;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 1.8rem;
  border-bottom: 2px solid gray;
}

.sub-heading {
  font-family: "Josefin Sans", sans-serif;
  color: var(--color-main);
  text-transform: uppercase;
  letter-spacing: 0.9rem;
  font-weight: 700;
}

.heading-desc {
  width: 50%;
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
  line-height: 1.8;
}

/* Featured in */

.featured-in {
  width: 90%;
  margin: 4.8rem auto 0;
}

.featured-in__heading {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  column-gap: 1.5rem;
  color: #aaa;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.featured-in__heading::before,
.featured-in__heading::after {
  content: "";
  height: 1px;
  background-color: currentColor;
}

.featured-in__images {
  display: flex;
  justify-content: space-around;
}

.featured-in__images img {
  height: 3rem;
  filter: brightness(70%);
}

/* Header Right */

.header-right {
  background: #101d2c;
  padding: 8rem 3.2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-right h3 {
  grid-column: span 2;
  margin: 0 auto 1.8rem;
  color: var(--color-main);
  font-family: "Rubik", sans-serif;
}

/* Chefs */

.chefs {
  display: grid;
  column-gap: 2rem;
  row-gap: 5vh;
  align-items: center;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
}

.chefs h3 {
  text-transform: uppercase;
}

.chefs img {
  width: 7rem;
  border-radius: 50%;
  display: block;
  border: 3px solid #dee2e6;
}

.chef-details {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}

.chef-position {
  font-size: 1.5rem;
  color: gray;
}

/* Team */

.team {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.8;
  font-size: 1.65rem;
  text-align: center;
}

/* Customers */

.customers-container {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}

.customers {
  display: flex;
}

.customers img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 2px solid #dee2e6;
}

.customers img:last-child {
  margin: 0;
}

.customers-text {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
}

.customers-text span {
  color: var(--color-main);
}
