.features-section {
  padding: 9.6rem 6.4rem;
  border-top: 1px solid #ddd;
  background: linear-gradient(
    to right bottom,
    rgba(24, 100, 171, 0.4),
    #212529
  );
  transition: all 0.9s;
  box-shadow: 1rem 0 3.2rem rgba(0, 0, 0, 0.8);
  text-align: center;
}

.features-section .section-subheading {
  margin-bottom: 8rem;
  font-size: 1.7rem;
}

.features {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4.8rem;
  row-gap: 8rem;
}
