#features-section {
  padding: 9.6rem 6.4rem;
  border-top: 1px solid #ddd;
  background: linear-gradient(
    to right bottom,
    rgba(24, 100, 171, 0.4),
    #212529
  );
  transition: all 0.9s;
  box-shadow: 1rem 0 3.2rem rgba(0, 0, 0, 0.8);
  text-align: center;
}

#features-section .section-subheading {
  margin-bottom: 8rem;
}

.features {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4.8rem;
  row-gap: 8rem;
}

/* Media Queries */

/* Below 970px */

@media (max-width: 61em) {
  #features-section {
    padding: 4.8rem;
  }
  .features {
    grid-template-columns: 1fr 1fr;
  }
}

/* Below 700px */

@media (max-width: 43.625em) {
  .features {
    grid-template-columns: 1fr;
  }
}
