:root {
  --color-main: #c69963;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
  background: #212529;
  color: #fff;
  padding: 0 2.4rem;
}

/* Reusable Code */

.btn {
  text-decoration: none;
  background-color: var(--color-main);
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto;
  padding: 1.6rem 3.2rem;
  border-radius: 5rem;
}
