:root {
  --color-main: #c69963;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
  background: #212529;
  color: #fff;
  padding: 0 2.4rem;
}

/* Reusable Code */

.btn {
  text-decoration: none;
  background-color: var(--color-main);
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto;
  padding: 1.6rem 3.2rem;
  border-radius: 5rem;
}

.hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.feature-icon {
  fill: var(--color-main);
  width: 4.8rem;
  height: 4.8rem;
  grid-row: 1 / span 2;
  transform: translateY(-1rem);
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  fill: var(--color-main);
}

/* Heading */

.section-heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-main);
  text-align: center;
  margin-bottom: 2.4rem;
  display: inline-block;
  transition: all 0.4s;
}

.section-heading:hover {
  letter-spacing: 5px;
}

.section-subheading {
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 4.8rem;
  line-height: 1.7;
  color: #ddd;
}
