:root {
  --color-main: #c69963;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-size: 1.8rem;
  font-family: 'Rubik', sans-serif;
  background: #212529;
  color: #fff;
  overflow-x: hidden;
  padding: 0 2.4rem;
}

/* Reusable Code */

/* btn */

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: var(--color-main);
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  padding: 1.6rem 3.2rem;
  border-radius: 5rem;
  position: relative;
  transition: all 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.1);
}

.header-left .btn::after,
.nav-btn::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--color-main);
  z-index: -1;
  transition: all 0.5s;
}

.header-left .btn:hover::after,
.nav-btn:hover::after {
  transform: scale(1.5);
  opacity: 0;
}

.btn-animation {
  animation: btnAnimation 0.7s ease-out 0.75s;
  animation-fill-mode: backwards;
}

/* hidden */

.hidden {
  opacity: 0;
  transform: translateY(8rem);
}

#contact-section.hidden {
  transform: translateX(20%);
}

.footer.hidden {
  transform: translateX(-20%);
}

.slide.hidden {
  transform: translateX(-8rem);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Navigation */

.hidden-nav .nav-background,
.hidden-nav .nav {
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.nav-icon {
  width: 4rem;
  height: 4rem;
}

/* Icons */

.feature-icon {
  fill: var(--color-main);
  width: 4.8rem;
  height: 4.8rem;
  grid-row: 1 / span 2;
  transform: translateY(-1rem);
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  fill: var(--color-main);
}

/* Heading */

.section-heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-main);
  text-align: center;
  margin-bottom: 2.4rem;
  display: inline-block;
  transition: all 0.4s;
}

.section-heading:hover {
  letter-spacing: 5px;
}

.section-subheading {
  font-size: 1.7rem;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 4.8rem;
  line-height: 1.7;
  color: #ddd;
}

@keyframes btnAnimation {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries */

/* Below 1366px */

@media (max-width: 85em) {
  body {
    padding: 0;
  }
}

/* Below 1266px */

@media (max-width: 79em) {
  html {
    font-size: 56.25%;
  }
}

/* Below 970px */

@media (max-width: 61em) {
  .section-heading:hover {
    letter-spacing: 2px;
  }
}

/* Below 630px */

@media (max-width: 39.4375em) {
  html {
    font-size: 50%;
  }
}
